/*
#bt-panel-decrease {
    
    height: 40px;
    border: none;
    color: rgb(65, 65, 65);
    
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    float: left;
    color: rgb(13, 13, 13);

    cursor: pointer;
    background-color: white;
    margin-left: 15px;
    margin-top: 6px;
    margin-right: 4px;
    background-color: transparent;
}*/
/*
#bt-panel-new {
    height: 40px;
    border: none;
    color: rgb(65, 65, 65);
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    float: left;
    color: rgb(13, 13, 13);
    cursor: pointer;
    margin-top: 6px;

    background-color: transparent;
}*/


/*
#bt-panel-increase {
    position: relative; 
    top: 0;
    left: 0;
    border: none;
    margin: 0;
    padding: 10px;
    padding-top: 15px;
    padding-left: 1px;
    
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(13, 13, 13);
}*/
