
.preToolbarUp0,
.preToolbarUp1,
.preToolbarUp2 {
  max-width: var(--longeur-general);
  margin: auto;
  padding-left: 40px;
  padding-right: 40px; 
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}
.preToolbarUp0{
  margin-top: 25px;
  background-color: transparent;
  margin-bottom: 8px;
}
@media (max-width: 768px) { 
  .preToolbarUp0,
  .preToolbarUp1,
  .preToolbarUp2 {
    padding-left: 8px;
    padding-right: 8px; 
  }
}


.toolbarUp0,
.toolbarUp1,
.toolbarUp2 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid var(--couleur-border);/*
  /*border-left: 1px solid rgb(234, 236, 240);
  border-right: 1px solid rgb(234, 236, 240);*/
  /*box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);*/
  background-color: white;
  width: 100%;
  max-width: 1200px;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.05);
}
.toolbarUp0 {
  border-radius: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 26px;
  padding: 0;
  padding-left: 6px;
  max-width: 854px;
  text-align: center;

}
.toolbarUp1 {
  border-radius: 4px 4px 0 0px;
  padding-top: 8px;
  padding-bottom: 0px;
  /*box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);*/
}
.toolbarUp2 {
  padding-top: 7px;
  padding-bottom: 0px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 3px;
  height: 41px;
  margin-bottom: 0px;
  z-index: 1;
  /*background: linear-gradient(to right, rgba(90, 200, 250, 0.15), rgba(175, 82, 222, 0.05), rgba(255, 45, 85, 0.05), rgba(255, 149, 0, 0.15));
  */
}


@media (max-width: 768px) { 
  .toolbarUp0,
  .toolbarUp1,
  .toolbarUp2  {
    padding-left: 8px;
    padding-right: 8px; 
  }
}





#bt2{
  background-color: var(--couleur-general);
  color: #fff;
  border: none;
  border-radius: 35px;
  border-radius: 35px 35px 35px 35px;
  padding: 8px 18px;
  padding: 8px 11px;
  padding-top: 10px;
  font-size: 23px;
  cursor: pointer;
  float: right;
  margin-top: -11px;
  z-index: 0;
  background: linear-gradient(to right, rgba(90, 200, 250, 0.95), rgba(175, 82, 222, 0.65), rgba(255, 45, 85, 0.65), rgba(255, 149, 0, 0.95));
  box-shadow: 0 0px 8px rgba(155, 88, 88, 0.6);
  height: 54px;
  width: 54px;
}


#bt2.notVisible {
  opacity: 0.5;
  filter: grayscale(50%);
  background-color: white;
  color: rgb(185, 85, 85);
}
#bt2:hover {
  opacity: 0.5;
  filter: grayscale(25%);
}

/* Propriétés communes aux boutons */
#btForm1,
#btForm2,
#bt-panel-new,
#bt-panel-journal {
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  float: left;
  color: rgb(102, 112, 133);
  color: rgb(21, 26, 49);
  border-radius: 35px;
  background-color: transparent;
  transition: background-color 0.4s ease; /* Transition douce */
  background-color: #ffffff;
  background-color: transparent;
  margin: 4px 0px 0px 0px;
  padding: 2px 8px 2px 8px;/* top -> bot <-*/

  /* ici commence la visu ecran */
  font-size: 12px;
  color : rgb(90, 90, 90);
  font-weight: 500;
  margin-top: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 1px solid rgb(242, 242, 242);/*var(--couleur-border);*/
  border-radius: 0px;
  height: 48px;
  margin-top: 0;
  padding-top: 6px;
  transform: translateY(-7px);
}
#bt-panel-journal {
  border-right: 1px solid rgb(242, 242, 242);
}

#bt-panel-new span {
  display: inline;
}



@media (max-width: 830px) {
  #btForm1,
  #btForm2,
  #bt-panel-new,
  #bt-panel-journal {
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    float: left;
    color: rgb(102, 112, 133);
    color: rgb(21, 26, 49);
    border-radius: 35px;
    background-color: transparent;
    transition: background-color 0.4s ease; /* Transition douce */
    background-color: #ffffff;
    background-color: transparent;
    margin: 4px 0px 0px 0px;
    padding: 2px 8px 2px 8px;/* top -> bot <-*/
    height: 30px;
    margin-top: 10px;
  }
  #bt-panel-new span {
    display: none;
  }
  #btForm1 span {
    display: none;
  }
  #btForm2 span {
    display: none;
  }
  #bt-panel-journal span {
    display: none;
  }
}

/* Hover */
#btForm1:hover,
#btForm2:hover,
#bt-panel-new:hover,
#bt-panel-journal:hover { 
  background-color: rgb(226, 226, 226); 
}

/* Animation au clic */
#btForm1:active,
#btForm2:active,
#bt-panel-new:active,
#bt-panel-journal:active { 
  background-color: rgb(161, 161, 161); /* Couleur temporaire lors du clic */
  transition: background-color 1.0s step-start;; /* Rétroaction rapide */
}

