#Header{
  background-color: white;
  margin-bottom: 10px;
  height: 50px;
}
#Header #grandTitre {
  display: block;
  margin: auto;
  text-align: left;
  color: var(--couleur-general);;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  padding-left: 60px;
  padding-top: 10px;
  padding-right: 60px; 
  height: 40px;
  /*background-color: white;*/
  background-color: white;
  float: left;
}
