
.tabs-container {
  /*display: flex;*/
  margin: 0 auto;
  /*margin: 0 30px;*/
  /*border-bottom: 2px solid rgb(215, 215, 215);*/
  
  /*justify-content: center;*/
  float: right; 
  overflow-x: auto; 
  white-space: nowrap; 
  padding: 0;
  background-color: rgb(230, 231, 232);
  border-radius: 80px;
  /*box-shadow: 0 0px 3px rgba(100, 100, 100, 0.2);*/
  margin-right: 5px;
  margin-top: 0px;
}
/*
@media (max-width: 768px) { 
  .tabs-container{
    justify-content: flex-start; 
  }
}

.tabs-container::-webkit-scrollbar {
  height: 6px; 
  background: transparent;
}
.tabs-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;  
}
.tabs-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); 
}
.tabs-container::-webkit-scrollbar-track {
  background: transparent;
}*/

.tab {
  /*border: 1px solid rgb(215, 215, 215);*/
  border-radius: 120px;
  text-align: center;
  font-size: 12px;
  color: rgb(174, 174, 174);
  cursor: pointer;
  margin: 0;
  padding: 6px 6px 3px 6px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  display: inline-block; 
  user-select: none;
  height: 20px;
  
  border: 3px solid rgb(230, 231, 232);
}


.tab:hover {
  /*background-color: rgb(243, 243, 243); */
  color: rgb(50, 152, 255);
  color: black;
  
}

.selectedTab {
  color: rgb(50, 152, 255);

  color : rgb(90, 90, 90);
  /*color: black;*/
  /*border: 1px solid rgb(50, 152, 255);*//*102, 112, 133);*/
  background-color: white;
  border: 3px solid rgb(230, 231, 232);
  
  
  /*font-weight: bold;*/
}

  
  